@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700");
/* Font Weights */
/* Colours */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  padding-left: 36px;
  padding-right: 36px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* Search field */
.search {
  width: 100%;
  display: inline-block; }
  .search input[type=text] {
    width: 85%;
    height: 46px;
    object-fit: contain;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    color: #686868;
    padding-left: 18px;
    font-size: 18px;
    display: block;
    float: left;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; }
  .search button {
    width: 15%;
    height: 46px;
    display: block;
    float: left;
    margin: 0;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
    text-align: right;
    padding-right: 15px; }
    .search button i {
      display: inline-block;
      width: 16px;
      height: 21px;
      background-color: #b8b8b8;
      -webkit-mask-image: url(../images/find-icon.svg);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: url(../images/find-icon.svg);
      background-size: auto 22px;
      background-repeat: no-repeat;
      margin: 7px 0 0 0; }
    .search button:hover {
      cursor: pointer; }
      .search button:hover i {
        background-color: #000; }

p.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  position: relative; }
  p.btn a {
    display: block;
    padding: 15px 70px 15px 28px;
    background: #000;
    color: #fff;
    border: 1px solid #000; }
    p.btn a i {
      position: absolute;
      margin-left: 33px;
      background-color: #fff; }
    p.btn a:hover {
      background: #fff;
      color: #000; }
      p.btn a:hover i {
        background-color: #000; }
  p.btn.link a {
    vertical-align: middle;
    border: 0;
    background: 0;
    padding: 0;
    color: #1475af;
    font-weight: 400;
    letter-spacing: -0.7px;
    font-size: 16px;
    line-height: 19px; }
    p.btn.link a i {
      display: inline-block;
      position: static;
      margin-left: 10px;
      background-color: #1475af;
      vertical-align: middle; }
    p.btn.link a:hover span {
      border-bottom: 1px solid #1475af; }

i.icon-arrow {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #b8b8b8;
  -webkit-mask-image: url(../images/button-arrow.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url(../images/find-icon.svg);
  background-size: auto 18px;
  background-repeat: no-repeat; }

@media (min-width: 768px) {
  -webkit-text-size-adjust: auto; }
@media (min-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }
@media (min-width: 1200px) {
  p.btn.link a {
    font-size: 18px;
    line-height: 22px; }

  .search input[type=text] {
    height: 80px;
    font-size: 32px;
    padding-left: 30px; }
  .search button {
    height: 80px;
    padding-right: 30px; }
    .search button i {
      width: 29px;
      height: 36px; } }
header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  padding: 20px 0 20px 0;
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in; }
  header .menu-icon {
    position: absolute;
    top: 27px;
    right: 35px;
    z-index: 99999; }
  header .logo {
    display: inline-block; }
    header .logo img {
      max-height: 40px; }
  header.fixed {
    width: 100%;
    background: #000;
    position: fixed;
    z-index: 999;
    top: 0; }
  header ul {
    list-style: none;
    padding: 0;
    margin: 7px 0 0 0;
    float: right; }
    header ul li {
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 0 15px;
      padding: 0;
      font-weight: 400; }
      header ul li a {
        display: block;
        color: #fff; }
        header ul li a:hover {
          color: #fff;
          border-bottom: 1px solid #fff; }
      header ul li.selected a {
        border-bottom: 1px solid #fff; }

@media (min-width: 768px) {
  header .menu-icon {
    display: none; }
  header.fixed {
    width: 100%;
    background: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    padding: 20px 0 20px 0; }
    header.fixed .logo img {
      max-height: 58px; }
    header.fixed ul {
      margin-top: 16px; } }
@media (min-width: 1200px) {
  header {
    padding: 40px 0 40px 0; }
    header .logo img {
      max-height: 80px; }
    header ul {
      margin-top: 25px; }
      header ul li {
        font-size: 20px;
        margin-left: 30px; } }
.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 140px 0 0 0; }
  .banner .hero {
    text-align: center; }
    .banner .hero h2 {
      color: #ffffff;
      padding: 0;
      margin: 0;
      font-weight: 400;
      font-size: 22px;
      letter-spacing: -1.1px; }
    .banner .hero p {
      color: #ffffff;
      padding: 0;
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px; }
    .banner .hero .search {
      max-width: 360px;
      padding: 35px 0 0 0; }
  .banner.lg {
    min-height: 380px; }
    .banner.lg .hero {
      padding-top: 140px; }
  .banner.smaller {
    min-height: 355px; }
    .banner.smaller h1 {
      font-size: 22px;
      line-height: 27px;
      color: #fff;
      padding: 0;
      margin: 0 0 10px 0; }
    .banner.smaller .search {
      padding: 0;
      margin: 0; }
      .banner.smaller .search input[type=text] {
        height: 42px;
        font-size: 18px; }
      .banner.smaller .search button {
        height: 42px; }
        .banner.smaller .search button i {
          width: 19px;
          height: 24px; }

@media (min-width: 992px) {
  .banner.smaller {
    padding-top: 70px;
    min-height: 250px; }
    .banner.smaller .hero {
      padding: 0;
      text-align: left; }
      .banner.smaller .hero h1 {
        margin-top: 70px; }
      .banner.smaller .hero p {
        max-width: 450px; } }
@media (min-width: 1200px) {
  .banner.lg {
    min-height: 555px; }
  .banner .hero h2 {
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -1.7px; }
  .banner .hero .search {
    max-width: 714px; }
  .banner.smaller {
    min-height: 355px;
    padding-top: 115px; }
    .banner.smaller .hero h1 {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 8px;
      margin-top: 90px; }
    .banner.smaller .hero .search button i {
      margin-right: -17px; } }
.mobile-nav {
  width: 100%;
  visibility: hidden;
  background: #000; }
  .mobile-nav .container {
    padding-left: 30px;
    padding-right: 30px; }
  .mobile-nav .top {
    min-height: 400px;
    background: url(../images/header-home.jpg) center no-repeat;
    background-size: cover; }
    .mobile-nav .top .search {
      padding-top: 20px; }
    .mobile-nav .top .menu-icon {
      margin: 30px 0 0 0; }
    .mobile-nav .top ul {
      padding: 55px 0 0 0;
      list-style: none;
      margin: 0; }
      .mobile-nav .top ul li {
        font-size: 22px;
        line-height: 46px;
        padding: 0;
        margin: 0;
        font-weight: 400; }
        .mobile-nav .top ul li a {
          color: #fff; }
  .mobile-nav .bottom {
    padding: 40px 0 0 0; }
    .mobile-nav .bottom .logo {
      margin: 0 0 20px 0; }
      .mobile-nav .bottom .logo img {
        width: 142px; }
    .mobile-nav .bottom .text {
      margin: 0 0 50px 0; }
      .mobile-nav .bottom .text p {
        font-size: 11px;
        line-height: 18px;
        padding: 0;
        margin: 0 0 5px 0;
        color: #fff;
        font-weight: 400; }
    .mobile-nav .bottom .social-links {
      margin: 0 0 15px 0; }
      .mobile-nav .bottom .social-links ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .mobile-nav .bottom .social-links ul li {
          width: 35px;
          height: 35px;
          display: inline-block;
          line-height: 35px;
          padding: 0;
          margin: 0 15px 0 0;
          text-align: center;
          font-size: 20px; }
          .mobile-nav .bottom .social-links ul li a {
            display: block;
            background: #fff;
            color: #000; }
            .mobile-nav .bottom .social-links ul li a:hover {
              background: #ccc;
              color: #fff; }
    .mobile-nav .bottom .links ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .mobile-nav .bottom .links ul li {
        display: inline-block;
        padding: 0;
        margin: 0 10px 0 0;
        font-size: 11px;
        line-height: 18px;
        font-weight: 400; }
        .mobile-nav .bottom .links ul li a {
          color: #fff;
          text-decoration: underline; }
          .mobile-nav .bottom .links ul li a:hover {
            color: #fff;
            text-decoration: none; }

@media (min-width: 768px) {
  .mobile-nav {
    display: none; } }
section.content-block {
  padding: 0 0 52px 0; }
  section.content-block.light-grey {
    background: #f8f8f8; }
  section.content-block.white {
    background: #ffffff; }
  section.content-block .title-sub-heading {
    padding: 40px 0 43px 0;
    text-align: center; }
    section.content-block .title-sub-heading h2 {
      color: #000000;
      font-size: 12px;
      line-height: 22px;
      text-transform: uppercase;
      font-weight: 400;
      padding: 0;
      margin: 0;
      letter-spacing: -0.9px; }
    section.content-block .title-sub-heading h3 {
      color: #747474;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      padding: 0;
      margin: 0;
      letter-spacing: -1.2px; }

@media (min-width: 1200px) {
  section.content-block .title-sub-heading {
    padding: 55px 0 56px 0; }
    section.content-block .title-sub-heading h2 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 3px; }
    section.content-block .title-sub-heading h3 {
      font-size: 24px;
      line-height: 29px; } }
.panels {
  text-align: center; }
  .panels .panel {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 0 0 40px 0;
    background: #fff;
    text-align: left; }
    .panels .panel:hover {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6); }
    .panels .panel .image {
      height: 173px;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      background: #000; }
      .panels .panel .image img {
        max-width: 100px;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    .panels .panel .inner {
      padding: 17px 15px 17px 15px; }
      .panels .panel .inner h2 {
        font-size: 12px;
        line-height: 15px;
        padding: 0;
        margin: 0 0 8px 0;
        color: #000000;
        font-weight: 500; }
        .panels .panel .inner h2 a {
          color: #000000; }
          .panels .panel .inner h2 a:hover {
            color: #000000;
            text-decoration: underline; }
      .panels .panel .inner p {
        font-size: 10px;
        line-height: 13px;
        color: #000000;
        font-weight: 400;
        padding: 0;
        margin: 0; }
    .panels .panel.clickable {
      cursor: pointer; }
      .panels .panel.clickable .inner h2 a {
        color: #000000; }
        .panels .panel.clickable .inner h2 a:hover {
          color: #000000; }
  .panels p.btn {
    text-align: center; }

@media (min-width: 768px) {
  .panels .panel .image {
    height: 220px; } }
@media (min-width: 1200px) {
  .panels {
    text-align: right; }
    .panels .panel {
      margin-bottom: 50px; }
      .panels .panel .inner h2 {
        font-size: 18px;
        line-height: 22px; }
      .panels .panel .inner p {
        font-size: 13px;
        line-height: 16px; } }
.panels-text {
  text-align: center; }
  .panels-text .panel {
    margin-bottom: 37px; }
    .panels-text .panel h2 {
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      padding: 0;
      margin: 0 0 2px 0;
      font-weight: 500; }
    .panels-text .panel p {
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      padding: 0;
      margin: 0 0 3px 0;
      font-weight: 400; }

@media (min-width: 1200px) {
  .panels-text {
    text-align: left;
    padding-top: 20px; }
    .panels-text .panel {
      margin: 0; }
      .panels-text .panel h2 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 7px; }
      .panels-text .panel p {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px; } }
.links-bar {
  background: #3b3a3a;
  padding: 50px 0 50px 0; }
  .links-bar h2 {
    font-size: 14px;
    line-height: 28px;
    color: #b4b4b4;
    padding: 0;
    margin: 0; }
  .links-bar ul {
    list-style: none;
    padding: 0;
    margin: 0 0 38px 0; }
    .links-bar ul li {
      font-size: 14px;
      line-height: 28px;
      padding: 0;
      margin: 0;
      font-weight: 400; }
      .links-bar ul li a {
        color: #fff; }
        .links-bar ul li a:hover {
          color: #fff;
          text-decoration: underline; }

@media (min-width: 1200px) {
  .links-bar {
    padding: 77px 0 102px 0; }
    .links-bar h2 {
      font-size: 18px;
      line-height: 32px; }
    .links-bar ul li {
      font-size: 18px;
      line-height: 32px; } }
footer {
  background: #000;
  padding: 45px 0 85px 0; }
  footer .logo {
    margin: 0 0 20px 0; }
    footer .logo img {
      width: 142px; }
  footer .text {
    margin: 0 0 50px 0; }
    footer .text p {
      font-size: 11px;
      line-height: 18px;
      padding: 0;
      margin: 0 0 5px 0;
      color: #fff;
      font-weight: 400; }
  footer .social-links {
    margin: 0 0 15px 0; }
    footer .social-links ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      footer .social-links ul li {
        width: 35px;
        height: 35px;
        display: inline-block;
        line-height: 35px;
        padding: 0;
        margin: 0 15px 0 0;
        text-align: center;
        font-size: 20px; }
        footer .social-links ul li a {
          display: block;
          background: #fff;
          color: #000;
          border: 1px solid #000; }
          footer .social-links ul li a:hover {
            border: 1px solid #fff;
            background: #000;
            color: #fff; }
  footer .links ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    footer .links ul li {
      display: inline-block;
      padding: 0;
      margin: 0 10px 0 0;
      font-size: 11px;
      line-height: 18px;
      font-weight: 400; }
      footer .links ul li a {
        color: #fff;
        text-decoration: underline; }
        footer .links ul li a:hover {
          color: #fff;
          text-decoration: none; }

@media (min-width: 992px) {
  footer .social-links {
    text-align: right; }
  footer .links {
    text-align: right; } }
@media (min-width: 1200px) {
  footer .social-links {
    margin-top: 50px; } }

/*# sourceMappingURL=style.css.map */
